.form {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  margin-bottom: 20px;
}

.input {
  padding: 10px 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.button {
  padding: 10px 16px;
  border: none;
  border-radius: 8px;
  background-color: #957777;
  color: white;
  cursor: pointer;
}
